PORT=3000
DATABASE_URL="postgresql://user_taxi:senha_forte@localhost:5432/taxidespatch_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="chave_super_secreta_para_operadores_jwt_987654321"
DRIVER_SSO_SECRET="chave_compartilhada_com_app_do_motorista_taxi_digital_2026"
TAXI_DIGITAL_API_URL="https://api.taxidigital.com.br/v1"
TAXI_DIGITAL_API_TOKEN="token_de_comunicacao_taxi_digital"
DOMAIN_NAME="chat.agenciatx.ia.br"
META_WA_PHONE_NUMBER_ID=""
META_WA_ACCESS_TOKEN=""
META_WA_WEBHOOK_VERIFY_TOKEN=""
NEXT_PUBLIC_APP_URL="https://chat.agenciatx.ia.br"
